<html>
    <head>
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
        <style type="text/css">
          .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
	  body {
	    padding-top: 40px;
	    padding-bottom: 40px;
	  }
        </style>
    </head>
    <body>

      <div class="container" style="width: 600px">
	<div class="row">
	  <div class="page-header">
	    <h1> 404 Error </h1>
	  </div>
	  <p>This is a single page app, but here's a unicorn for your troubles...</p>
	  <img src="http://static.giantbomb.com/uploads/original/1/17172/1419618-unicorn2.jpg" alt="unicorn" height="400" width="650" align="middle">
	</div>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>
